<a href="https://colab.research.google.com/github/dannyRT21/Progra3-2025/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nombre = "Luis"
edad = "32"

Print(nombre,edad)

eDad = "cinco"
Print("tu edad: ", eDad)

In [ ]:
num1 = 5.3
num2 = 5.7
suma = num1 + num2
print("la suma es: suma: ", suma)

la suma es: suma:  11.0

In [ ]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
suma = num1 + num2
print("la suma es: suma: ", suma)

In [ ]:
num1 = float(input("Num1: "))
num2 = float(input("Num2: "))
resta = num1 - num2


print("la resta es ", resta)

Num1: 2
Num2: 5
la resta es  -3.0

TIPO DE DATOS EN PYTHON

In [ ]:
#entero
num1 = 6
print(num1, "Esto es un entere")

6 Esto es un entere

In [ ]:
#hacer un ejercicio en Python haciendo uso de funciones, que reste dps numeros introducidos por el usuario

In [ ]:
#hacer un ejercicio en Python haciendo uso de funciones de usuario, que convierta hrados celcios a farenteheit

def celciusFarenheit(c):
 return c*1.8 + 32
 c = int(input("Grados c:"))
f = celciusFarenheit(c)
print("F", f )

In [ ]:
#Hacer un ejercicio de python haciendo uso de funciones de usuario, que convierta grados farenheit a celsius.
def farenteheitCelcius(f):
    return (f-32)*5/9

c = float(input("farenheit G: "))
f =farenteheitCelcius(c)
print("Grados:", f )

farenheit G: 100.4
Grados: 38.0

In [ ]:
#Hacer un ejercicio de python haciendo uso de funciones de usuario, que convierta grados celcius a Kelvin

def celciusKelvin(f):
    return (f + 273.15)

c = float(input("celcius G: "))
f =celciusKelvin(c)
print(" Estamos a:", f , "grados" )

celcius G: 58
 Estamos a: 331.15 grados

In [ ]:
#Hacer un ejercicio de python haciendo uso de funciones de usuario, que calcule
#el sueldo de un empleado segun el numero de horas trabajadas y valor por hora

def sueldo(numHrs , valorMax):
  sueldo = numHrs * valorMax * 30
  return sueldo

In [ ]:
  numHrs = float(input("horas:"))
  valorMax = float(input("valor Xhrs:"))
  sueldo = sueldo(numHrs , valorMax)
  print("sueldo: ", sueldo)

In [ ]:
#Hacer un ejercicio de python haciendo uso de funciones de usuario, que permita elevar un numerp a un exponente
  def exponete(b,e):
    return b**e

    b = float(input("base: "))
    e = float(input("Exponete: "))

    resultado = exponete(b,e)
    print("el numero ", b, "elevado a ",e, ", el resultado es : ", resultado )

***11/08/2025***

FUNCIONES ANONIMAS

In [ ]:
def suma(a, b):
    return a + b

a = float(input("Num1: "))
b = float(input("Num2: "))

suma = suma(a, b)

print("La suma es:", suma)

In [12]:
a = float(input("Num1: "))
b = float(input("Num2: "))

sum = lambda a,b: a+b
print("La suma de:", a, "mas b:", b, "es igual ", sum(a,b) )

Num1: 5
Num2: 5
La suma de: 5.0 mas b: 5.0 es igual  10.0

**FUNCIONES PRECONSTRUIDAS**

In [13]:
#map
semana = ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"]

primerValorSemana = map(lambda dia: dia[0], semana)
print(list(primerValorSemana))

mayusSemana = map(lambda dia: dia.upper(), semana)
print(list(mayusSemana))

['D', 'L', 'M', 'M', 'J', 'V', 'S']
['DOMINGO', 'LUNES', 'MARTES', 'MIERCOLES', 'JUEVES', 'VIERNES', 'SABADO']

In [14]:
numeros = [2, 4, 6, 8, 7, 9]
potencia = int(input("Potencia: "))
numeroPotencia = map(lambda num: num**potencia, numeros)

print(list(numeroPotencia))

Potencia: 2
[4, 16, 36, 64, 49, 81]

In [15]:
ntabla = int(input("Tabla:"))
numeros = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tabla = map(lambda num: num * ntabla, numeros)

print(list(tabla))

Tabla:8
[8, 16, 24, 32, 40, 48, 56, 64, 72, 80]

**FUNCION DE FILTER**

In [1]:
serie = [5, 6, 9, 2, 7, 8]
pares = filter(lambda num: num % 2 == 0, serie)  # % --> a modulo, obtener el residuo.

print(list(pares))

impares = filter(lambda num: num % 2 != 0, serie)

print(list(impares))

[6, 2, 8]
[5, 9, 7]

In [3]:
serieUser = input("Serie: ") # 5,2,8,1 --> serie[0]="5", serie[1]="2", etc..
serieUser = serieUser.split(",")

pares = filter(lambda num: int(num) % 2 == 0, serieUser)
impares = filter(lambda num: int(num) % 2 != 0, serieUser)

print("Pares:", list(pares))
print("Impares:", list(impares))

Serie: 1,2,3,4,5,6,7,8,9
Pares: ['2', '4', '6', '8']
Impares: ['1', '3', '5', '7', '9']

Hacer un ejercicio en python usando la funcion filter y lambda que de una seria de notas introducidas por el usuario, establezca cuantos pasan la materia (>6) y cuantos se quedan (<6).

In [4]:
notas_str = input("Ingresa las notas separadas por comas (e.g., 7.5, 8.0, 5.0, 6.5): ")
notas = [float(nota) for nota in notas_str.split(',')]

pasan = list(filter(lambda nota: nota > 6, notas))
se_quedan = list(filter(lambda nota: nota <= 6, notas))

print("Cantidad de estudiantes que pasan:", len(pasan))
print("Notas de los que pasan:", pasan)

print("Cantidad de estudiantes que se quedan:", len(se_quedan))
print("Notas de los que se quedan:", se_quedan)

Ingresa las notas separadas por comas (e.g., 7.5, 8.0, 5.0, 6.5): 9.5,8.3,9.7,6.3,2.1,0.0,1.0
Cantidad de estudiantes que pasan: 4
Notas de los que pasan: [9.5, 8.3, 9.7, 6.3]
Cantidad de estudiantes que se quedan: 3
Notas de los que se quedan: [2.1, 0.0, 1.0]

**EJERCICIOS UTILIZANDO REDUCE**

In [ ]:
#reduce
from functools import reduce

numeros = [5, 4, 9, 6,15,1]
suma = reduce(lambda num, sum: num + sum, numeros)

print("La suma es:", suma)

In [15]:
#reduce
from functools import reduce

numeros = [5, 4, 9, 6, 8, 2, 3,1]

suma = reduce(lambda num, acum: num + acum, numeros)

sumaPares = reduce(lambda num, acum: num + acum, filter(lambda num: num % 2 == 0, numeros))